# Sourcing Data

In [1]:
import matplotlib.pyplot as plt
%matplotlib qt

In [2]:
import nasdaqdatalink
import os
import pandas as pd
nasdaqdatalink.ApiConfig.api_key = "6X-12CyLywuaJiyhmnzi"

## What data do we want?

- Futures prices for a single commodity
- We want to get rolling price data, but the API will only give us data for a fixed month in a fixed year.
- Okay let's just try and get some data for say all the contracts in 2021.

In [3]:
import logging

logging.basicConfig()

data_link_log = logging.getLogger('nasdaqdatalink')
data_link_log.setLevel(logging.DEBUG)

In [4]:
months = ['H', 'K', 'N', 'U', 'Z']

In [5]:
dataset = pd.DataFrame()
dataset = dataset.reindex(pd.date_range(start='1/1/2007', end='26/02/2022', freq='B'))
dataset = dataset.set_index(dataset.index.rename("Date"))
months_dict = dict({'H': "March", 'K': "May", 'N': "July", 'U': "September", 'Z': "December"})
column_names = []


for year in range(2010, 2025):
    for cct in months:
        label = 'SRF/CME_C{}'.format(cct + str(year))
        row = pd.DataFrame(nasdaqdatalink.get(label)["Settle"])
        column_names.append(cct+str(year))
        dataset = dataset.merge(row, on="Date", how="left")
        
dataset.columns = column_names

/Users/ubaidhoque/Projects/Dissertation/Code/env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3340: UserWarning: Parsing '26/02/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  exec(code_obj, self.user_global_ns, self.user_ns)
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")

/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/4172720896.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Settle_x'} in the result is deprecated and will raise a MergeError in a future version.
  dataset = dataset.merge(row, on="Date", how="left")

In [6]:
dataset

,H2010,K2010,N2010,U2010,Z2010,H2011,K2011,N2011,U2011,Z2011,...,H2023,K2023,N2023,U2023,Z2023,H2024,K2024,N2024,U2024,Z2024
Date,,,,,,,,,,,,,,,,,,,,,
2007-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,604.75,608.25,609.75,569.00,560.25,567.25,566.75,568.25,518.50,509.00
2022-02-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,612.75,616.25,617.75,576.75,567.75,574.50,574.00,575.75,524.75,512.50
2022-02-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,618.00,621.50,622.75,579.25,570.00,576.50,576.00,578.00,527.00,514.00
2022-02-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,611.00,614.25,615.50,571.75,563.50,570.50,570.00,571.75,520.75,502.50
2022-02-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,586.75,590.00,591.50,551.00,543.00,550.00,549.50,551.25,500.25,489.75

In [7]:
def roll(month):
    if month in {1,2,3}:
        return 0
    elif month in {4,5}:
        return 1
    elif month in {6,7}:
        return 2
    elif month in {8,9}:
        return 3
    elif month in {10,11,0}:
        return 4

def get_relative_future(contracts_ahead, fixed_dataset, current_date):
    day = current_date.day
    month = current_date.month
    if day >= 14 and month in {3,5,7,9,12}:
        return roll((month+1)%12) + contracts_ahead
    else:
        return roll(month%12) + contracts_ahead

In [8]:
from dateutil.relativedelta import relativedelta
rolling_dataset = pd.DataFrame()
rolling_dataset = rolling_dataset.reindex(pd.date_range(start='1/1/2010', end='26/02/2022', freq='B'))
rolling_dataset = rolling_dataset.set_index(rolling_dataset.index.rename("Date"))

rolling_prices = []
for i, date in enumerate(pd.date_range(start='1/1/2010', end='26/02/2022', freq='B')):
    cct = []
    for contracts_ahead in range(0, 10):
        years_added, contract_index = divmod(get_relative_future(contracts_ahead, dataset, date), 5)
        price = dataset[months[contract_index] + str((date + relativedelta(years=years_added)).year)][date]
        #price = dataset[get_relative_future(contracts_ahead, dataset, date) + str(date.year)][date]
        cct.append(price)
        #print(get_relative_future(contracts_ahead, dataset, date))
        #print(price)
    rolling_prices.append(cct)

/Users/ubaidhoque/Projects/Dissertation/Code/env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3340: UserWarning: Parsing '26/02/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [9]:
rolling_dataset = pd.DataFrame(rolling_prices)

In [10]:
rolling_dataset

,0,1,2,3,4,5,6,7,8,9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,418.50,428.75,437.00,441.00,445.25,454.00,460.25,465.25,456.25,451.25
2,418.75,429.00,437.50,441.75,445.25,NaN,NaN,NaN,NaN,NaN
3,421.75,432.00,440.75,444.75,448.75,458.25,464.25,469.50,460.75,457.75
4,417.50,428.00,436.75,440.00,443.50,453.00,459.00,464.25,455.50,452.50
...,...,...,...,...,...,...,...,...,...,...
3166,654.25,652.75,647.00,608.75,597.75,604.75,608.25,609.75,569.00,560.25
3167,674.75,672.50,665.25,621.00,605.75,612.75,616.25,617.75,576.75,567.75
3168,683.75,681.25,674.50,628.75,611.25,618.00,621.50,622.75,579.25,570.00
3169,695.00,690.25,678.50,620.75,604.75,611.00,614.25,615.50,571.75,563.50
3170,659.50,655.75,644.00,594.25,579.75,586.75,590.00,591.50,551.00,543.00

In [11]:
rolling_dataset = rolling_dataset.set_index(pd.date_range(start='1/1/2010', end='26/02/2022', freq='B'))

/Users/ubaidhoque/Projects/Dissertation/Code/env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3340: UserWarning: Parsing '26/02/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [12]:
int_rolling_dataset = rolling_dataset.interpolate().pct_change()

In [13]:
int_rolling_dataset[2].plot()

# How can we generate time series data that would look like the commodity futures we have at the moment? 

The CBOT Corn futures are available for March (3)(H), May (5)(K), July (7)(N), Sep(9)(U), Dec (12)(Z)

## Steps 

1. Construct a rolling dataset
    - It is possible to obtain a dataset or matrix with the rows as the dates and then the columns as the contracts. 
    - What we want to do is if say we want to look at 8 contracts into the future, then we want our dataset to have more than 8 columns, and then we want to use the date index to swap the columns when needed to get this rolling behaviour.
    - It is probably worth at this point to look at the different rolling mechanisms that are available.  May be more difficult to implement on the Macquarie side but at least we know that we've done the research part of it.  I think this is what we should do on the train back today.

In [14]:
class RollingFutures(): 
    def init(self, start, end, asset, database, contracts):
        self.start = start
        self.end = end
        self.asset = asset
        self.database = database
        self.contracts = contracts

    def roll(month):
        if month in {1,2,3}:
            return 0
        elif month in {4,5}:
            return 1
        elif month in {6,7}:
            return 2
        elif month in {8,9}:
            return 3
        elif month in {10,11,12, 0}:
            return 4

    def get_relative_future(contracts_ahead, fixed_dataset, current_date):
        day = current_date.day
        month = current_date.month
        if day >= 14 and month in {3,5,7,9,12}:
            return months[(roll((month+1)%12) + contracts_ahead)%5]
        else:
            return months[(roll(month%12) + contracts_ahead)%5]

    def print_adf(data):

        from pandas import read_csv
        from statsmodels.tsa.stattools import adfuller
        X = data.dropna().values
        result = adfuller(X)
        print('ADF Statistic: %f' % result[0])
        print('p-value: %f' % result[1])
        print('Critical Values:')
        for key, value in result[4].items():
            print('\t%s: %.3f' % (key, value))

## We finally have data of an appropriate form to work with

In [15]:
# Let us first check for stationarity.

def calc_adf(data):
    from statsmodels.tsa.stattools import adfuller
    X = data.dropna().values
    result = adfuller(X)
    return result

def print_adf(result):

    print('ADF Statistic: %f' % result[0])
    print('p-value: %f' % result[1])
    print('Critical Values:')
    for key, value in result[4].items():
        print('\t%s: %.3f' % (key, value))

## Creating derived variables

In [16]:
interpolated_rolling_dataset = rolling_dataset.interpolate()

In [17]:
# Now we want to define some derived variables from the data that we have to feed into our HMM.

# LEVEL 
level = interpolated_rolling_dataset.mean(axis=1).dropna()

In [18]:
# Volatility 

# We want the moving average over an x-day window

def mse_volatility(data):
    import numpy as np
    from sklearn.metrics import mean_squared_error as mse
    mean = data.mean()
    means = np.full((len(data)), mean)
    return mse(data, means)

volatility = level.rolling(10, min_periods=10).apply(mse_volatility)

In [20]:
# Slope 
import numpy as np
slope = interpolated_rolling_dataset[9] - interpolated_rolling_dataset[0]

In [21]:
# Let's add the derived variables as columns in our dataframe

interpolated_rolling_dataset['level'] = level
interpolated_rolling_dataset['volatility'] = volatility
interpolated_rolling_dataset['slope'] = slope

## Categorise Variables

In [22]:
for var in ('level', 'volatility'):
    data = interpolated_rolling_dataset[var]
    bins = [np.nanquantile(data, x) for x in [0, .2, .4, .6, .8, 1]]
    group_names = [1, 2, 3, 4, 5]
    interpolated_rolling_dataset['cat_' + var] = pd.cut(data, bins, labels=group_names)

In [23]:
interpolated_rolling_dataset['cat_slope'] = pd.cut(interpolated_rolling_dataset['slope'], [-500, 0, 500], labels=['Contango', 'Backwardation'])

In [24]:
interpolated_rolling_dataset

,0,1,2,3,4,5,6,7,8,9,level,volatility,slope,cat_level,cat_volatility,cat_slope
2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-04,418.50,428.75,437.00,441.00,445.25,454.000,460.25,465.250,456.25,451.25,445.750,NaN,32.75,3,NaN,Backwardation
2010-01-05,418.75,429.00,437.50,441.75,445.25,456.125,462.25,467.375,458.50,454.50,447.100,NaN,35.75,3,NaN,Backwardation
2010-01-06,421.75,432.00,440.75,444.75,448.75,458.250,464.25,469.500,460.75,457.75,449.850,NaN,36.00,3,NaN,Backwardation
2010-01-07,417.50,428.00,436.75,440.00,443.50,453.000,459.00,464.250,455.50,452.50,445.000,NaN,35.00,3,NaN,Backwardation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-21,654.25,652.75,647.00,608.75,597.75,604.750,608.25,609.750,569.00,560.25,611.250,29.947025,-94.00,5,3,Contango
2022-02-22,674.75,672.50,665.25,621.00,605.75,612.750,616.25,617.750,576.75,567.75,623.050,40.070500,-107.00,5,4,Contango
2022-02-23,683.75,681.25,674.50,628.75,611.25,618.000,621.50,622.750,579.25,570.00,629.100,72.884600,-113.75,5,4,Contango
2022-02-24,695.00,690.25,678.50,620.75,604.75,611.000,614.25,615.500,571.75,563.50,626.525,74.925756,-131.50,5,4,Contango
2022-02-25,659.50,655.75,644.00,594.25,579.75,586.750,590.00,591.500,551.00,543.00,599.550,91.569850,-116.50,5,5,Contango

# Hidden Markov Model

In [25]:
from hmmlearn.hmm import GaussianHMM

In [27]:
np.random.seed(42)

In [28]:
model = GaussianHMM(n_components=2, covariance_type='full', n_iter=100)

In [29]:
reshaped_level = np.array(interpolated_rolling_dataset['slope'].dropna()).reshape(-1, 1) 
model.fit(reshaped_level)

GaussianHMM(covariance_type='full', n_components=2, n_iter=100)

In [30]:
hidden_states = model.predict(reshaped_level)

In [31]:
model.transmat_

array([[0.99743781, 0.00256219],
       [0.00328865, 0.99671135]])

In [32]:
interpolated_rolling_dataset.index.name = 'Date'

In [33]:
interpolated_rolling_dataset['hidden_states'] = np.concatenate((np.repeat(hidden_states[0],1), hidden_states))

In [34]:
class HMM_univariate(): 
    def __init__(self, df: dict, start_date, end_date):
        self.df = df
        self.len = len(df)
        self.contracts = len(df.columns)
        self.date_idx = pd.date_range(start=self.start_date, end=self.end_date, freq='B')
        
    def perform_pca(self):
        return
    
    def calc_level(self): 
        level = df.mean(axis=1).dropna()
        self.df.level = level
        
    def calc_mse_error(self):
        import numpy as np
        from sklearn.metrics import mean_squared_error as mse
        mean = self.df.mean()
        means = np.full((len(self.df)), mean)
        return mse(data, means)
        
    def calc_mse_volatility(self, window):
        self.window = window
        self.volatility = level.rolling(window, min_periods=window).apply(self.calc_mse_error)

    def calc_slope(self, front: int, back: int):
        self.slope = self.df[back] - self.df[front]
        
    def calc_hidden_states(self, no_h_states, ts):
        from hmmlearn.hmm import GaussianHMM
        self.model = GaussianHMM(no_h_states, covariance_type='full', n_iter=100)
        self.model.fit(self.df[ts])
        self.hidden_states = self.model.predict(self.df[ts])
    
    def regime_plot(self, ts):
        import pandas as pd
        import matplotlib.pyplot as plt
        # Create a new dataframe with a column for each state and and entries NA when not in that state on given day
        
        self.unique_states = self.hidden_states.nunique()
        hs_df = pd.DataFrame()
        hs_df.reindex(self.date_idx, inplace='True')
        hs_df.set_index(hs_df.index.rename("Date"), inplace='True')
        for state in unique_states:
            hs_data = self.df[self.df.hidden_state == state] 
            hs_df.merge(hs_data[ts], how='left', on='Date')
        
        for col in hs_df.columns:
            fig, ax = plt.subplots()
            ax.plot(self.date_idx, hd_df[col])

        ax.set_xaxis('Date')
        ax.set_yaxis('Closing Price')
        plt.show()

In [35]:
interpolated_rolling_dataset['hidden_states'].nunique()

2

In [38]:
df = interpolated_rolling_dataset

In [36]:
zero_state = interpolated_rolling_dataset[interpolated_rolling_dataset['hidden_states'] == 0]
one_state = interpolated_rolling_dataset[interpolated_rolling_dataset['hidden_states'] == 1]

In [39]:
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.collections import LineCollection

xy = (np.random.random((1000, 2)) - 0.5).cumsum(axis=0)
# Reshape things so that we have a sequence of:
# [[(x0,y0),(x1,y1)],[(x0,y0),(x1,y1)],...]
xy = xy.reshape(-1, 1, 2)

segments = np.hstack([xy[:-1], xy[1:]])
print(segments)
fig, ax = plt.subplots()
coll = LineCollection(segments, cmap=plt.cm.gist_ncar)
coll.set_array(df['hidden_states'])

ax.add_collection(coll)
ax.autoscale_view()

plt.show()

[[[-5.51886870e-03  4.79550840e-01]
  [-3.60553796e-01  7.04706568e-01]]

 [[-3.60553796e-01  7.04706568e-01]
  [-6.69363095e-01  5.42969673e-01]]

 [[-6.69363095e-01  5.42969673e-01]
  [-8.60664351e-01  9.90005661e-01]]

 ...

 [[ 1.02088342e+01  1.13659556e+00]
  [ 1.03569393e+01  1.51171361e+00]]

 [[ 1.03569393e+01  1.51171361e+00]
  [ 1.06474598e+01  1.15282120e+00]]

 [[ 1.06474598e+01  1.15282120e+00]
  [ 1.06930419e+01  7.58412749e-01]]]

In [43]:
plot_df = pd.DataFrame()
plot_df = plot_df.reindex(pd.date_range(start='1/1/2007', end='26/02/2022', freq='B'))
plot_df = plot_df.set_index(plot_df.index.rename("Date"))
plot_df = plot_df.merge(zero_state['level'], how='left', on='Date')
plot_df = plot_df.merge(one_state['level'], how='left', on='Date')

In [44]:
plot_df

            level_x  level_y
Date
2007-01-01      NaN      NaN
2007-01-02      NaN      NaN
2007-01-03      NaN      NaN
2007-01-04      NaN      NaN
2007-01-05      NaN      NaN
...             ...      ...
2022-02-21      NaN  611.250
2022-02-22      NaN  623.050
2022-02-23      NaN  629.100
2022-02-24      NaN  626.525
2022-02-25      NaN  599.550

[3955 rows x 2 columns]

In [45]:
import matplotlib.pyplot as plt

fig, ax = plt.subplots()

ax.plot(pd.date_range(start='1/1/2007', end='26/02/2022', freq='B'), plot_df['level_x'])
ax.plot(pd.date_range(start='1/1/2007', end='26/02/2022', freq='B'), plot_df['level_y'])
handles, labels = ax.get_legend_handles_labels()
fig.legend(handles, labels, loc='upper center')
fig.show()

/Users/ubaidhoque/Projects/Dissertation/Code/env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3340: UserWarning: Parsing '26/02/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/ubaidhoque/Projects/Dissertation/Code/env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3340: UserWarning: Parsing '26/02/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  exec(code_obj, self.user_global_ns, self.user_ns)

## Akaike Information Criterion (AIC) and Bayesian Information Criterion (BIC)

Note that we still need to figure out which rolling mechanism Macquarie use within the DataAG class. 

We want to use the AIC and BIC score to identify the optimal number of hidden states.  Of course, more states will lead to a higher score, but you want to add a penalty for that.

## Remaining Steps

1. Figure out how to use AIC and BIC to select optimal number of hidden states.
2. Apply PCA and identify the regimes.
3. Check for stationarity in the first principle component. 
4. Use the regimes to then obatin subset principle components. 
5. Go back and split into training and test data.
6. Find the residual on most recent training day.
7.

In [46]:
df = interpolated_rolling_dataset

In [47]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [48]:
pca = PCA()
X = df.iloc[:, :10].dropna()
X = StandardScaler().fit_transform(X)
pca.fit(X)

PCA()

In [153]:
plt.plot(pca.explained_variance_ratio_)

In [50]:
scores = pd.DataFrame(pca.transform(X))
pc1 = scores.iloc[:, 0]

In [51]:
plt.hist(scores.iloc[:, 0])

(array([ 298., 1403.,  241.,  214.,  192.,  260.,  231.,  128.,  144.,
          59.]),
 array([-4.03087863, -2.76542216, -1.49996568, -0.23450921,  1.03094726,
         2.29640374,  3.56186021,  4.82731668,  6.09277316,  7.35822963,
         8.6236861 ]),
 <BarContainer object of 10 artists>)

In [52]:
from scipy import stats

In [53]:
stats.kstest(scores.iloc[:, 0], 'norm')

KstestResult(statistic=0.47025511076910353, pvalue=0.0)

In [54]:
plt.hist(scores.iloc[:, 0], density=True, cumulative=True, label='CDF',
         histtype='step', alpha=0.8, color='k')

(array([0.09400631, 0.53659306, 0.6126183 , 0.68012618, 0.74069401,
        0.82271293, 0.8955836 , 0.93596215, 0.98138801, 1.        ]),
 array([-4.03087863, -2.76542216, -1.49996568, -0.23450921,  1.03094726,
         2.29640374,  3.56186021,  4.82731668,  6.09277316,  7.35822963,
         8.6236861 ]),
 [<matplotlib.patches.Polygon at 0x15bb62610>])

In [55]:
# initializing random values
N=500
mu = pc1.mean()
sigma = pc1.std()
data = np.random.normal(mu, sigma, N)
  
# getting data of the histogram
count, bins_count = np.histogram(data, bins=10)
  
# finding the PDF of the histogram using count values
pdf = count / sum(count)
  
# using numpy np.cumsum to calculate the CDF
# We can also find using the PDF values by looping and adding
cdf = np.cumsum(pdf)
  
# plotting PDF and CDF
plt.plot(bins_count[1:], cdf, label="CDF")
plt.legend()

In [56]:
from hmmlearn.hmm import GMMHMM, GaussianHMM
model = GMMHMM(3,n_mix=2, covariance_type='full', n_iter=100, verbose=True)
model.fit(np.array(pc1).reshape(-1, 1))

         1       -8630.2220             +nan
         2       -7044.4577       +1585.7643
         3       -5545.3195       +1499.1382
         4       -4743.1158        +802.2037
         5       -3991.9348        +751.1810
         6       -3872.7114        +119.2234
         7       -3865.6440          +7.0674
         8       -3856.2832          +9.3607
         9       -3842.7875         +13.4958
        10       -3826.7496         +16.0378
        11       -3811.1530         +15.5966
        12       -3797.6280         +13.5250
        13       -3786.8868         +10.7413
        14       -3777.7363          +9.1504
        15       -3768.1584          +9.5780
        16       -3757.1827         +10.9757
        17       -3745.1309         +12.0519
        18       -3733.6290         +11.5019
        19       -3724.5462          +9.0827
        20       -3718.5318          +6.0145
        21       -3715.0303          +3.5014
        22       -3713.1320          +1.8984
        23       -3712.0869          +1.0450
        24       -3711.4361          +0.6508
        25       -3710.9515          +0.4847
        26       -3710.5356          +0.4158
        27       -3710.1511          +0.3845
        28       -3709.7842          +0.3669
        29       -3709.4298          +0.3544
        30       -3709.0859          +0.3439
        31       -3708.7516          +0.3344
        32       -3708.4262          +0.3254
        33       -3708.1093          +0.3169
        34       -3707.8007          +0.3087
        35       -3707.4999          +0.3008
        36       -3707.2068          +0.2931
        37       -3706.9210          +0.2858
        38       -3706.6424          +0.2786
        39       -3706.3707          +0.2717
        40       -3706.1056          +0.2650
        41       -3705.8470          +0.2586
        42       -3705.5946          +0.2524
        43       -3705.3481          +0.2465
        44       -3705.1073          +0.2408
        45       -3704.8719          +0.2354
        46       -3704.6416          +0.2303
        47       -3704.4162          +0.2254
        48       -3704.1954          +0.2209
        49       -3703.9787          +0.2167
        50       -3703.7659          +0.2128
        51       -3703.5567          +0.2092
        52       -3703.3507          +0.2060
        53       -3703.1475          +0.2032
        54       -3702.9468          +0.2007
        55       -3702.7481          +0.1987
        56       -3702.5511          +0.1970
        57       -3702.3554          +0.1957
        58       -3702.1606          +0.1949
        59       -3701.9661          +0.1944
        60       -3701.7717          +0.1944
        61       -3701.5769          +0.1949
        62       -3701.3811          +0.1957
        63       -3701.1840          +0.1971
        64       -3700.9851          +0.1989
        65       -3700.7839          +0.2012
        66       -3700.5799          +0.2040
        67       -3700.3726          +0.2073
        68       -3700.1614          +0.2111
        69       -3699.9459          +0.2155
        70       -3699.7255          +0.2204
        71       -3699.4996          +0.2259
        72       -3699.2676          +0.2320
        73       -3699.0288          +0.2388
        74       -3698.7826          +0.2462
        75       -3698.5283          +0.2543
        76       -3698.2651          +0.2632
        77       -3697.9923          +0.2728
        78       -3697.7090          +0.2833
        79       -3697.4143          +0.2947
        80       -3697.1072          +0.3071
        81       -3696.7868          +0.3205
        82       -3696.4518          +0.3350
        83       -3696.1011          +0.3507
        84       -3695.7335          +0.3676
        85       -3695.3476          +0.3859
        86       -3694.9421          +0.4056
        87       -3694.5154          +0.4266
        88       -3694.0663          +0.4491
        89       -3693.5934          +0.4729
        90       -3693.0957          +0.4978
        91       -3692.5722          +0.5235
        92       -3692.0226          +0.5495
        93       -3691.4475          +0.5752
        94       -3690.8482          +0.5993
        95       -3690.2275          +0.6207
        96       -3689.5900          +0.6375
        97       -3688.9422          +0.6479
        98       -3688.2925          +0.6497
        99       -3687.6515          +0.6410
       100       -3687.0310          +0.6205

GMMHMM(covariance_type='full',
       covars_prior=array([[[[0.]],

        [[0.]]],


       [[[0.]],

        [[0.]]],


       [[[0.]],

        [[0.]]]]),
       covars_weight=array([[-3., -3.],
       [-3., -3.],
       [-3., -3.]]),
       means_prior=array([[[0.],
        [0.]],

       [[0.],
        [0.]],

       [[0.],
        [0.]]]),
       means_weight=array([[0., 0.],
       [0., 0.],
       [0., 0.]]),
       n_components=3, n_iter=100, n_mix=2, verbose=True,
       weights_prior=array([[1., 1.],
       [1., 1.],
       [1., 1.]]))

In [57]:
from pandas import read_csv
from statsmodels.tsa.stattools import adfuller
X = pc1.diff()[1:].values
result = adfuller(X)
print('ADF Statistic: %f' % result[0])
print('p-value: %f' % result[1])
print('Critical Values:')
for key, value in result[4].items():
    print('\t%s: %.3f' % (key, value))

ADF Statistic: -23.076979
p-value: 0.000000
Critical Values:
	1%: -3.432
	5%: -2.862
	10%: -2.567

In [58]:
from hmmlearn.hmm import GMMHMM
import numpy as np

def bic_general(likelihood_fn, k, X):
    """likelihood_fn: Function. Should take as input X and give out   the log likelihood
                  of the data under the fitted model.
           k - int. Number of parameters in the model. The parameter that we are trying to optimize.
                    For HMM it is number of states.
                    For GMM the number of components.
           X - array. Data that been fitted upon.
    """
    bic = np.log(len(X))*k - 2*likelihood_fn(X)
    return bic

def bic_general_hist(score, k, X):
    bic = np.log(len(X))*k - 2*score
    return bic

def bic_hmmlearn(X, min_states, max_states):
    lowest_bic = np.infty
    models=[]
    bic = []
    bic_history = []
    n_states_range = range(min_states,max_states)
    for n_components in n_states_range:
        hmm_curr = GMMHMM(n_components=n_components, covariance_type='full')
        hmm_curr.fit(X)
        models.append(hmm_curr)
        # Calculate number of free parameters
        # free_parameters = for_means + for_covars + for_transmat + for_startprob
        # for_means & for_covars = n_features*n_components
        n_features = hmm_curr.n_features
        n_mixtures = hmm_curr.weights_.shape[1]
        free_parameters = 2*(n_components*n_features*n_mixtures) + n_components*(n_components-1) + (n_components-1)

        # Firstly want the convergance of the BIC score to get a more detailed picture
        history_curr = list(hmm_curr.monitor_.history)
        bic_history_curr = map(lambda x: bic_general_hist(x, free_parameters, X), history_curr) 
        bic_history.append(bic_history_curr)
        
        bic_curr = bic_general(hmm_curr.score, free_parameters, X)
        bic.append(bic_curr)
        
        if bic_curr < lowest_bic:
            lowest_bic = bic_curr
        best_hmm = hmm_curr
    return (best_hmm, bic, bic_history, models)

In [59]:
from hmmlearn.hmm import GMMHMM
import numpy as np

def aic_general(likelihood_fn, k, X):
    """likelihood_fn: Function. Should take as input X and give out   the log likelihood
                  of the data under the fitted model.
           k - int. Number of parameters in the model. The parameter that we are trying to optimize.
                    For HMM it is number of states.
                    For GMM the number of components.
           X - array. Data that been fitted upon.
    """
    aic = 2*k - 2*likelihood_fn(X)
    return aic

def aic_general_hist(score, k, X):
    aic = 2*k - 2*score
    return aic

def aic_hmmlearn(X, min_states, max_states):
    lowest_aic = np.infty
    models=[]
    aic = []
    aic_history = []
    n_states_range = range(min_states,max_states)
    for n_components in n_states_range:
        hmm_curr = GMMHMM(n_components=n_components, covariance_type='full')
        hmm_curr.fit(X)
        models.append(hmm_curr)
        # Calculate number of free parameters
        # free_parameters = for_means + for_covars + for_transmat + for_startprob
        # for_means & for_covars = n_features*n_components
        n_features = hmm_curr.n_features
        n_mixtures = hmm_curr.weights_.shape[1]
        free_parameters = 2*(n_components*n_features*n_mixtures) + n_components*(n_components-1) + (n_components-1)

        # Firstly want the convergance of the BIC score to get a more detailed picture
        history_curr = list(hmm_curr.monitor_.history)
        aic_history_curr = map(lambda x: aic_general_hist(x, free_parameters, X), history_curr) 
        aic_history.append(aic_history_curr)
        
        aic_curr = aic_general(hmm_curr.score, free_parameters, X)
        aic.append(aic_curr)
        
        if aic_curr < lowest_aic:
            lowest_aic = aic_curr
        best_hmm = hmm_curr
    return (best_hmm, aic, aic_history, models)

In [60]:
mp = map(lambda x: bic_general(x, 20, np.array(pc1).reshape(-1, 1)),list(model.monitor_.history))

In [99]:
X = [[x[0], x[1]] for x in zip(df['level'].pct_change().fillna(df['level'].pct_change().mean()), df['volatility'].fillna(df['volatility'].mean()))]

In [100]:
best_hmm, bic, bic_history, models_bic = bic_hmmlearn(X, 2, 7)

# Identifying Regimes

The problem that Faheem identified, what ramifications could it actually have? 

If we don't have the same number of each contract, then this could affect our final calculation as those contracts will be weighted more? 

This step is fine but we need to first manually identify what the best number of states to use is.

In [62]:
# Let's identify the regimes - best hmm says 6 components but that is far too many.  

hidden_states = best_hmm.decode(np.array(pc1).reshape(-1, 1))[1]

In [129]:
def get_state_df(df, hidden_states, start, end):
    '''
    Want to take a df and an array of the hidden states derived from that df,
    and then use this to gice us a new dataframe where each column is the entries for the hs.
    '''
    diff = len(df) - len(hidden_states)
    df = df[diff:]
    try:
        df = df.drop(columns=['hidden_states'])
    except:
        print('no hidden state')
    df['hidden_states'] = hidden_states
    result = pd.DataFrame()
    result = result.reindex(pd.date_range(start=start, end=end, freq='B'))
    result = result.set_index(result.index.rename("Date"))
    for hs in np.unique(hidden_states):
        state_data = df[df['hidden_states'] == hs]
        result = result.merge(state_data['level'].pct_change(), how='left', on='Date')
    result.columns = np.unique(hidden_states)
    return result

In [66]:
# We want to compare the distributions at each stage, so first with two states, then with 3 states and then with 4 states.

In [67]:
import seaborn as sns

In [98]:
# Indvidual distribution plot
#sns.kdeplot(df['volatility'].dropna(), shade=True)
for model in models_bic:
    hs = model.decode(X)[1]
    hs_df = get_state_df(df, hs, '1/1/2010', '26/02/2022')
    fig, ax = plt.subplots()
    for i, col in enumerate(hs_df.columns):
        # Want a way to plot on the same axis so we can see how the distributions are broken up.  
        state_data = hs_df[col]
        ax.plot(state_data, label=col)
        #sns.kdeplot(state_data, ax=ax, label=col, shade=True)
        fig.legend()

/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/2981650754.py:5: UserWarning: Parsing '26/02/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  hs_df = get_state_df(df, hs, '1/1/2010', '26/02/2022')
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/2981650754.py:5: UserWarning: Parsing '26/02/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  hs_df = get_state_df(df, hs, '1/1/2010', '26/02/2022')
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/2981650754.py:5: UserWarning: Parsing '26/02/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  hs_df = get_state_df(df, hs, '1/1/2010', '26/02/2022')
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/2820459684.py:18: FutureWarning: Passing 'suffixes' which cause duplicate columns {'level_x'} in the result is deprecated and will raise a MergeError in a future version.
  result = result.merge(state_data['level'], how='left', on='Date')
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/2981650754.py:5: UserWarning: Parsing '26/02/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  hs_df = get_state_df(df, hs, '1/1/2010', '26/02/2022')
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/2820459684.py:18: FutureWarning: Passing 'suffixes' which cause duplicate columns {'level_x'} in the result is deprecated and will raise a MergeError in a future version.
  result = result.merge(state_data['level'], how='left', on='Date')
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/2981650754.py:5: UserWarning: Parsing '26/02/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  hs_df = get_state_df(df, hs, '1/1/2010', '26/02/2022')
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/2820459684.py:18: FutureWarning: Passing 'suffixes' which cause duplicate columns {'level_x'} in the result is deprecated and will raise a MergeError in a future version.
  result = result.merge(state_data['level'], how='left', on='Date')
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/2820459684.py:18: FutureWarning: Passing 'suffixes' which cause duplicate columns {'level_x'} in the result is deprecated and will raise a MergeError in a future version.
  result = result.merge(state_data['level'], how='left', on='Date')

In [85]:
models_bic[1].decode()

GMMHMM(covariance_type='full',
       covars_prior=array([[[[0., 0.],
         [0., 0.]]],


       [[[0., 0.],
         [0., 0.]]],


       [[[0., 0.],
         [0., 0.]]]]),
       covars_weight=array([[-4.],
       [-4.],
       [-4.]]),
       means_prior=array([[[0., 0.]],

       [[0., 0.]],

       [[0., 0.]]]),
       means_weight=array([[0.],
       [0.],
       [0.]]), n_components=3,
       weights_prior=array([[1.],
       [1.],
       [1.]]))

In [121]:
hs.returns.quantile([.25, .75])[0.25]

-0.006323185011709587

In [128]:
models_bic[2].get_stationary_distribution()

array([0.5352437 , 0.11445363, 0.31630018, 0.03400248])

In [135]:
# Joint plot
for model in models_bic:
    hs_multi = model.decode(X)[1]
    hs_df = get_state_df(df, hs_multi, '1/1/2010', '26/02/2022')
    hs = df
    hs['returns'] = hs['level'].pct_change()
    hs['hidden_states'] = hs_multi
    q1, q2 = 0.1, 0.9
    quantiles = hs['returns'].quantile([q1, q2])
    print("Number of hidden_states: {}".format(model.n_components))
    for col in hs_df.columns:
        print("Mean of hidden_state {} = {}".format(col, hs_df[col].dropna().mean()))
        print("St.dev of hidden_state {} = {}".format(col, hs_df[col].dropna().std()))
        print("Skewness of hidden_state {} = {}".format(col, hs_df[col].dropna().skew()))
        print("Kurtiosis of hidden_state {} = {}".format(col, hs_df[col].dropna().kurtosis()))
    sns.jointplot(data=hs, x="returns", y="volatility", kind="kde", hue='hidden_states', ylim=(-10, 200), xlim=quantiles, shade=True, bw_adjust=.5)

/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/2845496750.py:4: UserWarning: Parsing '26/02/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  hs_df = get_state_df(df, hs_multi, '1/1/2010', '26/02/2022')

Number of hidden_states: 2
Mean of hidden_state 0 = 0.00029794016037446475
St.dev of hidden_state 0 = 0.01466214262039426
Skewness of hidden_state 0 = 3.968596579857969
Kurtiosis of hidden_state 0 = 92.89075287221895
Mean of hidden_state 1 = 0.0005797149730066512
St.dev of hidden_state 1 = 0.022324038039354496
Skewness of hidden_state 1 = 0.4736700306954644
Kurtiosis of hidden_state 1 = 9.57283988361247

/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/2845496750.py:4: UserWarning: Parsing '26/02/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  hs_df = get_state_df(df, hs_multi, '1/1/2010', '26/02/2022')

Number of hidden_states: 3
Mean of hidden_state 0 = 0.0003335927252487733
St.dev of hidden_state 0 = 0.01569599580973111
Skewness of hidden_state 0 = 3.376488513345828
Kurtiosis of hidden_state 0 = 68.0815620897231
Mean of hidden_state 1 = 0.0015712211845507324
St.dev of hidden_state 1 = 0.04038824076796987
Skewness of hidden_state 1 = 6.519471585986223
Kurtiosis of hidden_state 1 = 71.4544042774783
Mean of hidden_state 2 = 0.0005836949539560401
St.dev of hidden_state 2 = 0.023186314631595456
Skewness of hidden_state 2 = 3.7403231828655574
Kurtiosis of hidden_state 2 = 59.86982692633161

/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/2845496750.py:4: UserWarning: Parsing '26/02/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  hs_df = get_state_df(df, hs_multi, '1/1/2010', '26/02/2022')
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/3555715838.py:18: FutureWarning: Passing 'suffixes' which cause duplicate columns {'level_x'} in the result is deprecated and will raise a MergeError in a future version.
  result = result.merge(state_data['level'].pct_change(), how='left', on='Date')

Number of hidden_states: 4
Mean of hidden_state 0 = 0.00041432627557089175
St.dev of hidden_state 0 = 0.019152781359930236
Skewness of hidden_state 0 = 7.484683066218673
Kurtiosis of hidden_state 0 = 174.45368907059822
Mean of hidden_state 1 = 0.0014833719495606912
St.dev of hidden_state 1 = 0.03624722438199862
Skewness of hidden_state 1 = 3.203886309659909
Kurtiosis of hidden_state 1 = 30.161894323523022
Mean of hidden_state 2 = 0.0004930520692104163
St.dev of hidden_state 2 = 0.02050890713997409
Skewness of hidden_state 2 = 2.4728131293324456
Kurtiosis of hidden_state 2 = 36.98322873774119
Mean of hidden_state 3 = 0.0006315973867081811
St.dev of hidden_state 3 = 0.0339014581922025
Skewness of hidden_state 3 = 0.30221487473809105
Kurtiosis of hidden_state 3 = 3.348744649545466

/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/2845496750.py:4: UserWarning: Parsing '26/02/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  hs_df = get_state_df(df, hs_multi, '1/1/2010', '26/02/2022')
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/3555715838.py:18: FutureWarning: Passing 'suffixes' which cause duplicate columns {'level_x'} in the result is deprecated and will raise a MergeError in a future version.
  result = result.merge(state_data['level'].pct_change(), how='left', on='Date')

Number of hidden_states: 5
Mean of hidden_state 0 = 0.00048366617169029875
St.dev of hidden_state 0 = 0.022109721828370524
Skewness of hidden_state 0 = 13.301310053580844
Kurtiosis of hidden_state 0 = 359.83012005835036
Mean of hidden_state 1 = 0.002289298472064436
St.dev of hidden_state 1 = 0.04937520814023234
Skewness of hidden_state 1 = 5.144253191330963
Kurtiosis of hidden_state 1 = 45.330343848830424
Mean of hidden_state 2 = 0.0005891005843206451
St.dev of hidden_state 2 = 0.021552606237995965
Skewness of hidden_state 2 = 2.042621078741421
Kurtiosis of hidden_state 2 = 35.93901059668334
Mean of hidden_state 3 = -0.0007507317174889755
St.dev of hidden_state 3 = 0.03660496541147931
Skewness of hidden_state 3 = -1.235078898998327
Kurtiosis of hidden_state 3 = 3.700060000945416
Mean of hidden_state 4 = 0.0012824805166466858
St.dev of hidden_state 4 = 0.03264651792025273
Skewness of hidden_state 4 = 3.041453912104226
Kurtiosis of hidden_state 4 = 28.61406923179438

/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/2845496750.py:4: UserWarning: Parsing '26/02/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  hs_df = get_state_df(df, hs_multi, '1/1/2010', '26/02/2022')
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/3555715838.py:18: FutureWarning: Passing 'suffixes' which cause duplicate columns {'level_x'} in the result is deprecated and will raise a MergeError in a future version.
  result = result.merge(state_data['level'].pct_change(), how='left', on='Date')
/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/3555715838.py:18: FutureWarning: Passing 'suffixes' which cause duplicate columns {'level_x'} in the result is deprecated and will raise a MergeError in a future version.
  result = result.merge(state_data['level'].pct_change(), how='left', on='Date')

Number of hidden_states: 6
Mean of hidden_state 0 = 0.0005330561483248821
St.dev of hidden_state 0 = 0.02293248172082117
Skewness of hidden_state 0 = 13.090760620644495
Kurtiosis of hidden_state 0 = 338.24789591330733
Mean of hidden_state 1 = 0.0020506247125581358
St.dev of hidden_state 1 = 0.04700835346412734
Skewness of hidden_state 1 = 5.177156494654461
Kurtiosis of hidden_state 1 = 47.783946059577836
Mean of hidden_state 2 = 0.0010998379597119876
St.dev of hidden_state 2 = 0.03183570645232736
Skewness of hidden_state 2 = 2.855540031135851
Kurtiosis of hidden_state 2 = 33.494532999463665
Mean of hidden_state 3 = 0.00067766805710924
St.dev of hidden_state 3 = 0.03482846312507223
Skewness of hidden_state 3 = 0.5871018194766547
Kurtiosis of hidden_state 3 = 2.934083666947225
Mean of hidden_state 4 = 0.0006762696417818955
St.dev of hidden_state 4 = 0.021322651523771212
Skewness of hidden_state 4 = 2.2695815030977355
Kurtiosis of hidden_state 4 = 35.86846126540547
Mean of hidden_state 5 = -0.02182211628557383
St.dev of hidden_state 5 = 0.08257118158001803
Skewness of hidden_state 5 = -2.695739993032395
Kurtiosis of hidden_state 5 = 7.432363995432725

In [96]:
model = models_bic[1]
hs = model.decode([[x[0], x[1]] for x in zip(df['level'].fillna(df['level'].mean()), df['volatility'].fillna(df['volatility'].mean()))])[1]
hs_df = get_state_df(df, hs, '1/1/2010', '26/02/2022')

/var/folders/bn/nf5j5v796jjb6bncp9wnk5l80000gn/T/ipykernel_1835/3940101436.py:3: UserWarning: Parsing '26/02/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  hs_df = get_state_df(df, hs, '1/1/2010', '26/02/2022')

array([[<AxesSubplot:title={'center':'0'}>,
        <AxesSubplot:title={'center':'1'}>],
       [<AxesSubplot:title={'center':'2'}>, <AxesSubplot:>]], dtype=object)

By looking at the contour plots and the training time series, we conclude that we will use 3 states which the model has identified.  These can be approximately assumed to be a state with low level, a state with high level but low vol and a state with high level and high vol.  So we have,

In [150]:
df.loc[df.index[7], :]

0                         392.5
1                         403.0
2                        411.25
3                         415.0
4                         417.5
5                        426.25
6                        432.25
7                         437.0
8                         429.5
9                         432.5
level                   419.675
volatility                  NaN
slope                      40.0
cat_level                     3
cat_volatility              NaN
cat_slope         Backwardation
hidden_states                 2
returns               -0.065468
Name: 2010-01-12 00:00:00, dtype: object

In [157]:
df.iloc[:, :10]

,0,1,2,3,4,5,6,7,8,9
Date,,,,,,,,,,
2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-04,418.50,428.75,437.00,441.00,445.25,454.000,460.25,465.250,456.25,451.25
2010-01-05,418.75,429.00,437.50,441.75,445.25,456.125,462.25,467.375,458.50,454.50
2010-01-06,421.75,432.00,440.75,444.75,448.75,458.250,464.25,469.500,460.75,457.75
2010-01-07,417.50,428.00,436.75,440.00,443.50,453.000,459.00,464.250,455.50,452.50
...,...,...,...,...,...,...,...,...,...,...
2022-02-21,654.25,652.75,647.00,608.75,597.75,604.750,608.25,609.750,569.00,560.25
2022-02-22,674.75,672.50,665.25,621.00,605.75,612.750,616.25,617.750,576.75,567.75
2022-02-23,683.75,681.25,674.50,628.75,611.25,618.000,621.50,622.750,579.25,570.00
2022-02-24,695.00,690.25,678.50,620.75,604.75,611.000,614.25,615.500,571.75,563.50
2022-02-25,659.50,655.75,644.00,594.25,579.75,586.750,590.00,591.500,551.00,543.00

# KMO and Barlett Test

In [159]:
"""
Created on Sat Sep 10 20:21:04 2016
Bartlett Sphericity Test Function:
- This test evaluates sampling adequacy for exploratory Factor Analysis
Bartlett_Sphericity function has two inputs:
- The Dataset (numerical or ordinal variables only)
- The correlation method (spearman or pearson)
It Outputs the test result, degrees of freedom and p-value
@authors: Rui Sarmento
          Vera Costa
"""

#Bartlett Sphericity Test
#Exploratory factor analysis is only useful if the matrix of population 
#correlation is statistically different from the identity matrix. 
#If these are equal, the variables are few interrelated, i.e., the specific 
#factors explain the greater proportion of the variance and the common factors
#are unimportant. Therefore, it should be defined when the correlations 
#between the original variables are sufficiently high. 
#Thus, the factor analysis is useful in estimation of common factors. 
#With this in mind, the Bartlett Sphericity test can be used. The hypotheses are:

# H0: the matrix of population correlations is equal to the identity matrix
# H1: the matrix of population correlations is different from the identity matrix.

def bartlett_sphericity(dataset, corr_method="pearson"):
    
    r"""
    
    Parameters
    ----------
    dataset : dataframe, mandatory (numerical or ordinal variables)
        
    corr_method : {'pearson', 'spearman'}, optional
        
    Returns
    -------
    out : namedtuple
        The function outputs the test value (chi2), the degrees of freedom (ddl)
        and the p-value.
        It also delivers the n_p_ratio if the number of instances (n) divided 
        by the numbers of variables (p) is more than 5. A warning might be issued.
        
        Ex:
        chi2:  410.27280642443156
        ddl:  45.0
        p-value:  8.73359410503e-61
        n_p_ratio:    20.00
        
        Out: Bartlett_Sphericity_Test_Results(chi2=410.27280642443156, ddl=45.0, pvalue=8.7335941050291506e-61)
    
    References
    ----------
    
    [1] Bartlett,  M.  S.,  (1951),  The  Effect  of  Standardization  on  a  chi  square  Approximation  in  Factor
    Analysis, Biometrika, 38, 337-344.
    [2] R. Sarmento and V. Costa, (2017)
    "Comparative Approaches to Using R and Python for Statistical Data Analysis", IGI-Global.
    
    Examples
    --------
    illustration how to use the function.
    
    >>> bartlett_sphericity(survey_data, corr_method="spearman")
    chi2:  410.27280642443145
    ddl:  45.0
    p-value:  8.73359410503e-61
    n_p_ratio:    20.00
    C:\Users\Rui Sarmento\Anaconda3\lib\site-packages\spyderlib\widgets\externalshell\start_ipython_kernel.py:75: 
    UserWarning: NOTE: we advise  to  use  this  test  only  if  the number of instances (n) divided by the number of variables (p) is lower than 5. Please try the KMO test, for example.
    backend_o = CONF.get('ipython_console', 'pylab/backend', 0)
    Out[12]: Bartlett_Sphericity_Test_Results(chi2=410.27280642443156, ddl=45.0, pvalue=8.7335941050291506e-61)
    """
    
    import numpy as np
    import math as math
    import scipy.stats as stats
    import warnings as warnings
    import collections

    #Dimensions of the Dataset
    n = dataset.shape[0]
    p = dataset.shape[1]
    n_p_ratio = n / p
    
    #Several Calculations
    chi2 = - (n - 1 - (2 * p + 5) / 6) * math.log(np.linalg.det(dataset.corr(method=corr_method)))
    #Freedom Degree
    ddl = p * (p - 1) / 2
    #p-value
    pvalue = 1 - stats.chi2.cdf(chi2 , ddl)
    
    Result = collections.namedtuple("Bartlett_Sphericity_Test_Results", ["chi2", "ddl", "pvalue"], verbose=False, rename=False)   
    
    #Output of the results - named tuple
    result = Result(chi2=chi2,ddl=ddl,pvalue=pvalue) 

    
    #Output of the function
    if n_p_ratio > 5 :
        print("n_p_ratio: {0:8.2f}".format(n_p_ratio))
        warnings.warn("NOTE: we advise  to  use  this  test  only  if  the number of instances (n) divided by the number of variables (p) is lower than 5. Please try the KMO test, for example.")
        
    
    return result
    

"""
Created on Sat Sep 10 20:21:04 2016
KMO Test Function:
- This test evaluates sampling adequacy for exploratory Factor Analysis
KMO Test function has one input:
- The Dataset Correlation Matrix
It Outputs the test result, and the results per variable
@authors: Rui Sarmento
          Vera Costa
"""

#KMO Test
#KMO is a measure of the adequacy of sampling “Kaiser-Meyer-Olkin" and checks 
#if it is possible to factorize the main variables efficiently.
#The correlation matrix is always the starting point. The variables are more or
#less correlated, but the others can influence the correlation between the two 
#variables. Hence, with KMO, the partial correlation is used to measure the 
#relation between two variables by removing the effect of the remaining variables.

def kmo(dataset_corr):
    
    import numpy as np
    import math as math
    import collections
    
    r"""
    
    Parameters
    ----------
    dataset_corr : ndarray
        Array containing dataset correlation
        
    Returns
    -------
    out : namedtuple
        The function outputs the test value (value), the test value per variable (per_variable)
       
        Ex:
        Out[30]: 
        KMO_Test_Results(value=0.798844102413, 
        per_variable=
        Q1     0.812160468405
        Q2     0.774161264483
        Q3     0.786819432663
        Q4     0.766251123086
        Q5     0.800579196084
        Q6     0.842927745203 
        Q7     0.792010173432 
        Q8     0.862037322891
        Q9     0.714795031915 
        Q10    0.856497242574
        dtype: float64)
    
    References
    ----------    
    [1] Kaiser, H. F. (1970). A second generation little jiffy. Psychometrika, 35(4), 401-415.
    [2] Kaiser, H. F. (1974). An index of factorial simplicity. Psychometrika, 39(1), 31-36.
    [3] R. Sarmento and V. Costa, (2017)
    "Comparative Approaches to Using R and Python for Statistical Data Analysis", IGI-Global
    
    Examples
    --------
    illustration how to use the function.
    
    >>> kmo_test(survey_data.corr(method="spearman"))
         
        KMO_Test_Results(value=0.798844102413, 
        per_variable=
        Q1     0.812160468405
        Q2     0.774161264483
        Q3     0.786819432663
        Q4     0.766251123086
        Q5     0.800579196084
        Q6     0.842927745203 
        Q7     0.792010173432 
        Q8     0.862037322891
        Q9     0.714795031915 
        Q10    0.856497242574
        dtype: float64) 
"""
    
    

    #KMO Test
    #inverse of the correlation matrix
    corr_inv = np.linalg.inv(dataset_corr)
    nrow_inv_corr, ncol_inv_corr = dataset_corr.shape
    
    #partial correlation matrix
    A = np.ones((nrow_inv_corr,ncol_inv_corr))
    for i in range(0,nrow_inv_corr,1):
        for j in range(i,ncol_inv_corr,1):
            #above the diagonal
            A[i,j] = - (corr_inv[i,j]) / (math.sqrt(corr_inv[i,i] * corr_inv[j,j]))
            #below the diagonal
            A[j,i] = A[i,j]
    
    #transform to an array of arrays ("matrix" with Python)
    dataset_corr = np.asarray(dataset_corr)
        
    #KMO value
    kmo_num = np.sum(np.square(dataset_corr)) - np.sum(np.square(np.diagonal(dataset_corr)))
    kmo_denom = kmo_num + np.sum(np.square(A)) - np.sum(np.square(np.diagonal(A)))
    kmo_value = kmo_num / kmo_denom
    
    
    kmo_j = [None]*dataset_corr.shape[1]
    #KMO per variable (diagonal of the spss anti-image matrix)
    for j in range(0, dataset_corr.shape[1]):
        kmo_j_num = np.sum(dataset_corr[:,[j]] ** 2) - dataset_corr[j,j] ** 2
        kmo_j_denom = kmo_j_num + np.sum(A[:,[j]] ** 2) - A[j,j] ** 2
        kmo_j[j] = kmo_j_num / kmo_j_denom

    
    Result = collections.namedtuple("KMO_Test_Results", ["value", "per_variable"])   
    
    #Output of the results - named tuple    
    return Result(value=kmo_value,per_variable=kmo_j)

# Building Strategy

In [358]:
class PCA_HMM_Strategy():
    def __init__(self, holding_period:int, test_size:float, df, n_components:int, pca_thresh: float):
        from sklearn.model_selection import train_test_split
        self.holding_period = holding_period
        self.test_size = test_size
        self.df = df
        self.train_df, self.test_df = train_test_split(df, test_size=test_size, shuffle=False)
        self.n_components = n_components
        self.pca_thresh = pca_thresh
        
    def __identify_regimes__(self, X, covariance_type):
        import hmmlearn as hmm
        model = GMMHMM(n_components=self.n_components, covariance_type=covariance_type)
        model.fit(X)
        self.train_df['hidden_states'] = model.decode(X)[1]
        
    def __get_state_df__(self, component):
        return self.train_df[self.train_df.hidden_states == component]

    def __pca__(self, X, n_components):
        from sklearn.decomposition import PCA
        from sklearn.preprocessing import StandardScaler
        import numpy as np
        print(kmo(X.dropna().corr()))
        pca = PCA(n_components)
        X_scaled = StandardScaler().fit_transform(X)
        print(X_scaled)
        pca.fit(X_scaled)
        scores = pca.transform(X_scaled)
        loadings = pca.components_
        reconstructed_data = np.dot(scores, loadings)
        eig_vals = pca.explained_variance_
        return scores, loadings, reconstructed_data, eig_vals

    def __regime_pca__(self, n_components):
        from sklearn.preprocessing import StandardScaler
        pcs = dict()
        for hs in range(n_components):
            hs_df = self.__get_state_df__(hs).iloc[:, :-1]
            hs_df = hs_df.fillna(hs_df.mean())
            scores, loadings, reconstructed_data, eig_vals = self.__pca__(hs_df, n_components)
            residuals = StandardScaler().fit_transform(hs_df) - reconstructed_data
            pcs[hs] = {'scores': scores,
                      'loadings': loadings,
                       'reconstructed_data': reconstructed_data,
                       'eig_vals': eig_vals,
                       'residuals': residuals
                      }
        self.pcs = pcs
            
    def __get_residuals__(self, date_idx):
        return self.residuals[date_ix]
    
    def __get_curr_regime__(self, date_idx):
        return df.loc[date_idx, 'hidden_states']

In [359]:
strategy = PCA_HMM_Strategy(30, 0.4, df.iloc[:, :10], 3, 0.9)

In [360]:
# Now we want to define some derived variables from the data that we have to feed into our HMM.

# LEVEL 
level = strategy.train_df.mean(axis=1).dropna()

In [361]:
# Volatility 

# We want the moving average over an x-day window

def mse_volatility(data):
    import numpy as np
    from sklearn.metrics import mean_squared_error as mse
    mean = data.mean()
    means = np.full((len(data)), mean)
    return mse(data, means)

volatility = level.rolling(10, min_periods=10).apply(mse_volatility)

In [362]:
strat_df = strategy.train_df.copy()
strat_df['level'] = level
strat_df['volatility'] = volatility

In [363]:
X = [[x[0], x[1]] for x in zip(strat_df['level'].pct_change().fillna(strat_df['level'].pct_change().mean()), strat_df['volatility'].fillna(strat_df['volatility'].mean()))]
strategy.__identify_regimes__(X, 'full')

In [364]:
strategy.__regime_pca__(3)

KMO_Test_Results(value=0.8179358263827342, per_variable=[0.911658783501279, 0.8363960473705255, 0.8397760413109135, 0.7546376309799757, 0.7756001952313565, 0.8930040583494051, 0.8425613959445252, 0.8252906973583349, 0.7591468607807325, 0.7732477525422278])
[[ 0.00000000e+00  0.00000000e+00  8.44131976e-16 ...  1.28202582e-15
  -1.41287586e-15 -1.51376880e-15]
 [-1.16923490e+00 -1.08332276e+00 -1.02623610e+00 ... -8.89350746e-01
  -1.01974375e+00 -1.08530157e+00]
 [-1.16748489e+00 -1.08153574e+00 -1.02252356e+00 ... -8.65387507e-01
  -9.91781224e-01 -1.04202701e+00]
 ...
 [-1.57873651e+00 -1.52471692e+00 -1.49401509e+00 ... -1.56032144e+00
  -1.70948595e+00 -1.74107769e+00]
 [-1.59098656e+00 -1.53722607e+00 -1.50515268e+00 ... -1.57723667e+00
  -1.72502068e+00 -1.75772176e+00]
 [-1.59798659e+00 -1.54616117e+00 -1.51629028e+00 ... -1.58851349e+00
  -1.72502068e+00 -1.75106413e+00]]
KMO_Test_Results(value=0.7999684845382311, per_variable=[0.8399982425511915, 0.7812453954722024, 0.7663583640331916, 0.7713559867508658, 0.7872626475117385, 0.8758121395137447, 0.8028330850256451, 0.8142608947704523, 0.7739372881021401, 0.7990298110333801])
[[-0.60249787 -0.57799765 -0.56021216 ... -0.5048419  -0.57002516
  -0.61491087]
 [-0.63529709 -0.61213314 -0.59924094 ... -0.55933178 -0.63454344
  -0.66841216]
 [-0.60659778 -0.58226458 -0.56480378 ... -0.51846437 -0.56644081
  -0.61873239]
 ...
 [-0.53074958 -0.53746175 -0.54414149 ... -0.64787784 -0.66321822
  -0.59580327]
 [-0.54919914 -0.5577297  -0.56480378 ... -0.6802312  -0.69368519
  -0.62637543]
 [-0.5676487  -0.57799765 -0.58546608 ... -0.71258457 -0.72415215
  -0.6569476 ]]
KMO_Test_Results(value=0.7919165927055528, per_variable=[0.8979216278083832, 0.7727095107854256, 0.7737308591800757, 0.7476685499942208, 0.7981202833097985, 0.8568070297840124, 0.7901030805549382, 0.776342688024013, 0.7506302843196119, 0.7826715361065618])
[[-2.45204104 -2.37092294 -2.35001993 ... -2.22572732 -2.26901545
  -2.22907648]
 [-2.46270604 -2.38209196 -2.3606885  ... -2.24390053 -2.28129579
  -2.24157451]
 [-2.47337105 -2.39326098 -2.37135706 ... -2.26207373 -2.29357612
  -2.25407254]
 ...
 [-2.44019103 -2.41808103 -2.44070274 ... -2.91227065 -2.77660264
  -2.66650754]
 [-2.5729111  -2.53969928 -2.56605838 ... -2.87592424 -2.7274813
  -2.61234941]
 [-2.62742112 -2.59430339 -2.61139979 ... -2.88803971 -2.73157474
  -2.61651542]]

In [175]:
from sklearn.model_selection import train_test_split
train_test_split(strat_df, test_size=0.4, shuffle=False)

[                 0        1       2        3        4        5        6  \
 Date
 2010-01-01     NaN      NaN     NaN      NaN      NaN      NaN      NaN
 2010-01-04  418.50  428.750  437.00  441.000  445.250  454.000  460.250
 2010-01-05  418.75  429.000  437.50  441.750  445.250  456.125  462.250
 2010-01-06  421.75  432.000  440.75  444.750  448.750  458.250  464.250
 2010-01-07  417.50  428.000  436.75  440.000  443.500  453.000  459.000
 ...            ...      ...     ...      ...      ...      ...      ...
 2017-04-11  366.50  373.750  380.75  390.500  399.250  405.000  410.000
 2017-04-12  369.00  376.000  382.75  392.500  401.000  406.750  411.500
 2017-04-13  371.00  378.000  384.50  394.500  403.500  409.250  413.750
 2017-04-14  368.75  375.625  382.25  392.375  401.625  407.250  411.625
 2017-04-17  366.50  373.250  380.00  390.250  399.750  405.250  409.500

                   7        8       9    level
 Date
 2010-01-01      NaN      NaN     NaN      NaN
 2010-01-04  465.250  456.250  451.25  445.750
 2010-01-05  467.375  458.500  454.50  447.100
 2010-01-06  469.500  460.750  457.75  449.850
 2010-01-07  464.250  455.500  452.50  445.000
 ...             ...      ...     ...      ...
 2017-04-11  404.250  406.250  413.00  394.925
 2017-04-12  405.750  407.000  414.00  396.625
 2017-04-13  407.250  407.750  414.50  398.400
 2017-04-14  404.875  405.625  412.50  396.250
 2017-04-17  402.500  403.500  410.50  394.100

 [1902 rows x 11 columns],
                  0       1       2       3       4       5       6       7  \
 Date
 2017-04-18  361.75  368.25  375.75  386.25  396.00  402.00  406.75  400.25
 2017-04-19  361.75  368.25  375.75  386.50  396.25  401.75  406.50  400.00
 2017-04-20  357.75  364.25  371.75  382.50  392.25  398.25  403.00  396.25
 2017-04-21  357.00  363.75  371.00  382.00  391.75  397.75  402.25  396.50
 2017-04-24  359.25  365.50  372.50  383.50  393.25  399.75  404.25  397.75
 ...            ...     ...     ...     ...     ...     ...     ...     ...
 2022-02-21  654.25  652.75  647.00  608.75  597.75  604.75  608.25  609.75
 2022-02-22  674.75  672.50  665.25  621.00  605.75  612.75  616.25  617.75
 2022-02-23  683.75  681.25  674.50  628.75  611.25  618.00  621.50  622.75
 2022-02-24  695.00  690.25  678.50  620.75  604.75  611.00  614.25  615.50
 2022-02-25  659.50  655.75  644.00  594.25  579.75  586.75  590.00  591.50

                  8       9    level
 Date
 2017-04-18  401.25  408.25  390.650
 2017-04-19  401.00  408.00  390.575
 2017-04-20  397.25  404.25  386.750
 2017-04-21  397.50  404.25  386.375
 2017-04-24  399.00  405.50  388.025
 ...            ...     ...      ...
 2022-02-21  569.00  560.25  611.250
 2022-02-22  576.75  567.75  623.050
 2022-02-23  579.25  570.00  629.100
 2022-02-24  571.75  563.50  626.525
 2022-02-25  551.00  543.00  599.550

 [1269 rows x 11 columns]]

In [357]:
pd.DataFrame(strategy.pcs[0]['reconstructed_data']).set_index()

,0,1,2,3,4,5,6,7,8,9
0,-0.570475,-0.575435,-0.580684,-0.582445,-0.579382,-0.561560,-0.550707,-0.552971,-0.554506,-0.555765
1,-0.602835,-0.608787,-0.617272,-0.626813,-0.625535,-0.611650,-0.602624,-0.606455,-0.611070,-0.611171
2,-0.576753,-0.581542,-0.586303,-0.587518,-0.584548,-0.568278,-0.558031,-0.560043,-0.561163,-0.562369
3,-0.617587,-0.622979,-0.629453,-0.634982,-0.633081,-0.619928,-0.610964,-0.613786,-0.616478,-0.616978
4,-0.595905,-0.601057,-0.605079,-0.600128,-0.594255,-0.563976,-0.547352,-0.549032,-0.548720,-0.551666
...,...,...,...,...,...,...,...,...,...,...
1161,-0.561671,-0.561395,-0.557145,-0.560752,-0.566597,-0.615223,-0.633004,-0.630346,-0.626081,-0.622172
1162,-0.540835,-0.540607,-0.536889,-0.541822,-0.547976,-0.596923,-0.615017,-0.612636,-0.608979,-0.604894
1163,-0.521315,-0.520920,-0.516976,-0.521599,-0.527753,-0.576833,-0.595084,-0.592604,-0.588828,-0.584763
1164,-0.540581,-0.540226,-0.536664,-0.543504,-0.550619,-0.604469,-0.624748,-0.622427,-0.619146,-0.614481
1165,-0.559846,-0.559531,-0.556351,-0.565409,-0.573485,-0.632104,-0.654412,-0.652251,-0.649463,-0.644198